## 表格输出为图片

In [1]:
import os
os.getcwd()

'C:\\Users\\12602\\Anaconda3\\中指每周模拟下载\\中指数据处理he出图\\2019到2020过渡'

In [2]:
import pandas as pd
from prettytable import PrettyTable
from PIL import Image, ImageDraw, ImageFont

def create_table_img(data,img_name, **kwargs):
    '''
        img_name 图片名称 'D:/project/pythonwork/12306/t.png' 或 t.png
        data 表格内容，首行为表头部
        table_title 表格标题
        line_height 底部描述行高
        font 默认字体路径
        default_font_size 默认字体大小
        default_background_color 图片背景底色
        table_top_heght 设置表格顶部留白高度
        table_botton_heght 设置表格顶部留白高度
        describe 底部描述文字
    '''
    space = 0 ## 表格边距
    # 生成图片-------------------------------
    ### 底部描述行高
    if 'line_height' not in kwargs:  
         # line_height = 1
         line_height = 0
    else:
        line_height = kwargs['line_height']

    ### 默认字体
    if 'font' not in kwargs:  
         kwargs['font'] = None

    ### 默认字体大小
    if 'default_font_size' not in kwargs:
         kwargs['default_font_size'] = 12

    ### 默认表标题字体大小
    if 'table_title_font_size' not in kwargs:
#          kwargs['table_title_font_size'] = 22
         kwargs['table_title_font_size'] = 0


    ### 图片背景底色
    if 'default_background_color' not in kwargs:
         kwargs['default_background_color'] = (255,255,255,255)

    ### 设置表格顶部留白高度
    if 'table_top_heght' not in kwargs:
         kwargs['table_top_heght'] = kwargs['table_title_font_size'] + space + int(kwargs['table_title_font_size']/2)

    ## 底部描述文字
    if 'describe' in kwargs:
        describe_len = len(kwargs['describe'])
    else:
        describe_len = 0

    ### 设置表格底部留白高度
    if 'table_botton_heght' not in kwargs:
         kwargs['table_botton_heght'] = describe_len * kwargs['default_font_size'] + space
    
    ### 图片后缀
    if 'img_type' not in kwargs:
         kwargs['img_type'] = 'PNG'

    ### 默认字体及字体大小
    font = ImageFont.truetype(kwargs['font'], kwargs['default_font_size'], encoding='utf-8')
    font2 = ImageFont.truetype(kwargs['font'], kwargs['table_title_font_size'], encoding='utf-8')
    ## Image模块创建一个图片对象
    im = Image.new('RGB',(1, 1),kwargs['default_background_color'])
    ## ImageDraw向图片中进行操作，写入文字或者插入线条都可以
    draw = ImageDraw.Draw(im)
       
    # 创建表格---------------------------------
    tab = PrettyTable(border=True, header=True, header_style = 'title')
    ## 第一行设置为表头
    tab.field_names = data.pop(0)
    for row in data:
        tab.add_row(row)
    tab_info = str(tab)
    ## 根据插入图片中的文字内容和字体信息，来确定图片的最终大小
    img_size = draw.multiline_textsize(tab_info, font=font)
#     img_width = img_size[0]+space*2
#     table_height = img_size[1]+space*2
    img_width = img_size[0]
    table_height = img_size[1]
    img_height = table_height + kwargs['table_botton_heght'] + kwargs['table_top_heght']
    im_new = im.resize((img_width, img_height))
#     im_new = im.resize((405, 340))
    del draw
    del im
    draw = ImageDraw.Draw(im_new, 'RGB')
    draw.multiline_text((space,kwargs['table_top_heght']), tab_info + '\n\n', fill=(0,0,0), font=font)

    ### 表标题--------------------------
    if 'table_title' in kwargs:
        title_left_padding = (img_width - len(table_title) * kwargs['table_title_font_size']) / 2
        draw.multiline_text((title_left_padding, space), table_title, fill=(16,0,0), font=font2, align = 'center')


    y = table_height + space/2

    ### 描述内容-----------------------------------
    if 'describe' in kwargs:
        y = y + kwargs['default_font_size']
        frist_row = kwargs['describe'].pop(0)
        draw.text((space,y), frist_row, fill=(255,0,0), font=font)
        for describe_row in kwargs['describe']:
            y = y + kwargs['default_font_size'] + line_height
            draw.text((space,y), describe_row, fill=(0,0,0), font=font)
    del draw
    ### 保存为图片
    im_new.save(img_name,  kwargs['img_type'], quality=200)
    return True

## 整理所需数据

In [3]:
# a = datetime.datetime.now()
# a.isocalendar()

In [4]:
import os
import pyecharts
import datetime
import pandas as pd
import numpy as np


# 全局  当前周(实际为上周) / 当前月 / 上一个月
currentWeek = 27
currentMonth = 7
lastMonth = 6

In [5]:
city_map = {
       "北京": "一二线","上海": "一二线","广州": "一二线","深圳": "一二线","南京": "一二线","苏州": "一二线","厦门": "一二线","合肥": "一二线",
        "天津": "一二线","武汉": "一二线","杭州": "一二线","福州": "一二线","济南": "一二线","南昌": "一二线","无锡": "一二线","宁波": "一二线",
        "成都": "一二线","郑州": "一二线","南宁": "一二线","长沙": "一二线","西安": "一二线","重庆": "一二线","青岛": "一二线","沈阳": "一二线",
        "大连": "一二线","常州": "一二线","徐州": "一二线","南通": "一二线","嘉兴": "三四线","绍兴": "三四线","温州": "一二线","镇江": "三四线",
        "泉州": "一二线","漳州": "三四线","佛山": "一二线","东莞": "一二线","中山": "三四线","惠州": "三四线","珠海": "一二线","安庆": "三四线",
        "株洲": "三四线","阜阳": "三四线","芜湖": "三四线","荆门": "三四线","荆州": "三四线","抚州": "三四线","赣州": "三四线","吉安": "三四线",
        "九江": "三四线","信阳": "三四线","南阳": "三四线","淄博": "三四线","临沂": "三四线","兰州": "一二线","昆明": "一二线","宝鸡": "三四线",
        "德阳": "三四线","哈尔滨": "一二线","湖州": "三四线","江门": "三四线","金华": "三四线","丽水": "三四线","龙岩": "三四线","泸州": "三四线",
        "马鞍山": "三四线","南平": "三四线","内江": "三四线","宁德": "三四线","莆田": "三四线","衢州": "三四线","三明": "三四线","汕头": "三四线",
        "石家庄": "一二线","台州": "三四线","泰州": "三四线","潍坊": "三四线","烟台": "一二线","盐城": "三四线","银川": "一二线","长春": "一二线",
        "肇庆": "三四线","茂名": "三四线","海口": "一二线","泰安": "三四线","威海": "三四线","包头": "三四线","舟山": "三四线","柳州": "三四线",
        "贵港": "三四线","天水": "三四线","淮南": "三四线","玉林": "三四线","牡丹江": "三四线","宣城": "三四线","张家界": "三四线","德州": "三四线",
        "日照": "三四线","淮北": "三四线","广元": "三四线","汉中": "三四线","绵阳": "三四线"}

# 城市类型
cityType = {
    '北京': '深耕型', '上海': '深耕型', '广州': '深耕型', '深圳': '深耕型', '南京': '深耕型', '苏州': '深耕型', '厦门': '深耕型', '合肥': '深耕型', '天津': '深耕型',
    '武汉': '深耕型', '杭州': '深耕型', '福州': '深耕型', '济南': '深耕型', '南昌': '深耕型', '无锡': '据点型', '宁波': '深耕型', '成都': '深耕型', '郑州': '深耕型',
    '南宁': '深耕型', '长沙': '深耕型', '西安': '深耕型', '重庆': '深耕型', '青岛': '深耕型', '沈阳': '深耕型', '大连': '深耕型', '常州': '据点型', '徐州': '深耕型',
    '南通': '据点型', '嘉兴': '据点型', '绍兴': '据点型', '温州': '深耕型', '镇江': '据点型', '泉州': '据点型', '漳州': '据点型', '佛山': '据点型', '东莞': '据点型',
    '中山': '据点型', '惠州': '据点型', '珠海': '深耕型', '安庆': '机会型', '株洲': '机会型', '阜阳': '据点型', '芜湖': '据点型', '荆门': '机会型', '荆州': '机会型',
    '抚州': '机会型', '赣州': '据点型', '吉安': '机会型', '九江': '据点型', '信阳': '机会型', '南阳': '机会型', '淄博': '据点型', '临沂': '据点型', '兰州': '深耕型',
    '昆明': '深耕型', '宝鸡': '机会型', '德阳': '机会型', '哈尔滨': '深耕型', '湖州': '据点型', '江门': '据点型', '金华': '据点型', '丽水': '据点型',
    '龙岩': '据点型', '泸州': '机会型', '马鞍山': '机会型', '南平': '机会型', '内江': '机会型', '宁德': '机会型', '莆田': '据点型', '衢州': '据点型',
    '三明': '机会型', '汕头': '据点型', '石家庄': '深耕型', '台州': '据点型', '泰州': '据点型', '潍坊': '据点型', '烟台': '据点型', '盐城': '据点型',
    '银川': '深耕型', '长春': '深耕型', '肇庆': '机会型', '茂名': '据点型', '海口': '深耕型', '泰安': '据点型', '威海': '据点型', '包头': '据点型', '舟山': '据点型',
    '柳州': '据点型', '贵港': '机会型', '天水': '机会型', '淮南': '机会型', '玉林': '机会型', '牡丹江': '机会型', '宣城': '机会型', '张家界': '机会型',
    '德州': '机会型', '日照': '机会型', '淮北': '机会型', '广元': '机会型', '汉中': '机会型', '绵阳': '机会型'
}

In [6]:
# 底稿城市
city_digao = ['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', 
              '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', 
              '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳',
              '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', 
              '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州',
              '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安',
              '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照',
              '淮北', '广元', '汉中', '绵阳']
# city_digao = pd.DataFrame(city_digao, columns=['城市'])

In [7]:
# 读取数据

deal = pd.read_excel('../数据整理/中指综合后的2016-2020数据.xlsx', sheet_name='土地成交明细')
# deal = deal[deal['周'] != currentWeek+1]
liupai = pd.read_excel('../数据整理/中指综合后的2016-2020数据.xlsx', sheet_name='土地流拍')
# liupai = liupai[liupai['周'] != currentWeek+1]

deal.replace('--', 0, inplace=True)
liupai.replace('--', 0, inplace=True)

deal.loc[deal[deal['起始价(万元)']==0].index, '起始价(万元)'] = deal[deal['起始价(万元)']==0]['成交价(万元)']
deal.loc[deal[deal['成交价(万元)']==0].index, '成交价(万元)'] = deal[deal['成交价(万元)']==0]['起始价(万元)']

In [8]:
# 处理流拍数据
liupai['成交价(万元)'] = 0
liupai['成交楼面价(元/㎡)'] = 0
liupai['溢价率'] = '流拍'
liupai['受让单位'] = ''
liupai['土地星级'] = '0星'
liupai['溢价率分类'] = '流拍'


# 处理成交数据
deal['溢价率分类'] = deal['溢价率'].map(lambda x: '底价' if x<=10 else '高溢价' if x>=50 else '溢价' )

deal_liupai = pd.concat((deal, liupai), ignore_index=True, sort=False)
deal_liupai['日'] = deal_liupai['截止日期'].map(lambda x: str(x.split("-")[2]).lstrip('0'))
deal_liupai['城市能级'] = deal_liupai['城市'].map(lambda x: city_map[x])
deal_liupai['城市分类'] = deal_liupai['城市'].map(lambda x: cityType[x])
# deal_liupai = deal_liupai[deal_liupai['年']==2019]

In [9]:
deal_liupai[deal_liupai['城市']=='太原']

Empty DataFrame
Columns: [年, 月, 周, 地块名称, 城市, 用地性质, 区县, 出让方式, 建设用地面积(㎡), 规划建筑面积(㎡), 容积率, 截止日期, 起始价(万元), 成交价(万元), 成交楼面价(元/㎡), 溢价率, 受让单位, 土地星级, 城市能级, 溢价率分类, 城市分类, 日]
Index: []

[0 rows x 22 columns]

**需要修改**

In [10]:
# 计算周度指数的时候去除 2019 年 1 月份的数据,
# 计算 第 {} 周的数据
# 方便后边计算2020年本周数据
deal_liupai = deal_liupai.query('年>2018')
deal_liupai = deal_liupai.drop(deal_liupai[(deal_liupai['月'] == 1) & (deal_liupai['年'] == 2019) ].index)
deal_liupai = deal_liupai.drop(deal_liupai[(deal_liupai['月'] == currentMonth) & (deal_liupai['年'] == 2019) ].index)
deal_liupai = deal_liupai.drop(deal_liupai[(deal_liupai['周'] == currentWeek) & (deal_liupai['年'] == 2019) ].index)

In [11]:
deal_liupai.head()

,年,月,周,地块名称,城市,用地性质,区县,出让方式,建设用地面积(㎡),规划建筑面积(㎡),...,起始价(万元),成交价(万元),成交楼面价(元/㎡),溢价率,受让单位,土地星级,城市能级,溢价率分类,城市分类,日
12464,2019,2,5,大江东产业集聚区核心区,杭州,综合用地(含住宅),萧山区,挂牌,166123.00,396753.60,...,261858.0,346458.0,8732.31,32.31,嘉兴融盈置业有限公司,4星,一二线,溢价,深耕型,1
12465,2019,2,5,北京市门头沟区永定镇曹各庄桥户营村MC00-0016-061地块R2二类居住用地、MC16-...,北京,综合用地(含住宅),门头沟区,挂牌,50699.84,133434.00,...,160000.0,160000.0,11990.95,0,北京骏乐企业管理咨询有限公司,4星,一二线,底价,深耕型,1
12466,2019,2,5,金普新区金州湾片区1单元JZJW1J0502-1宗地,大连,综合用地(含住宅),金普新区,挂牌,46176.00,62799.36,...,15386.0,15586.0,2481.86,1.3,保利(大连)房地产开发有限公司,4星,一二线,底价,深耕型,1
12467,2019,2,5,崇明区陈家镇CMSA0008单元21-01(实验生态社区45-1号)地块,上海,住宅用地,崇明区,挂牌,121048.60,122259.10,...,123396.0,123396.0,10092.98,0,虹诺发展有限公司,2星,一二线,底价,深耕型,1
12468,2019,2,5,东至昆仑大街绿化地、西至国有储备地、南至淮河道、北至金环钢构及泰明顿公司,石家庄,综合用地(含住宅),裕华区,拍卖,40941.12,84338.71,...,30940.0,34000.0,4031.36,9.89,河北润澳房地产开发有限公司,4星,一二线,底价,深耕型,1

### 图1 101城溢价率结构表__按周城市出

**计算 101城, 12线, 34线城市 溢价率 **

In [12]:
# TODO
# 本周每个城市溢价率分类详情
d = deal_liupai[deal_liupai['周']==currentWeek]
a = d.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市', fill_value=0)
a.head(2)

溢价率分类  底价  流拍  溢价  高溢价
城市
上海      1   0   2    0
东莞      1   0   0    0

In [13]:
# 计算每个城市溢价率   去除 流拍选项
dd = d[d['溢价率分类'] != '流拍']
d1 = dd.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市', fill_value=0)
d1['溢价率'] = (d1['成交价(万元)'] / d1['起始价(万元)'] - 1) *100
d1 = d1[['溢价率']]

# 计算101城市溢价率
d1.loc['101城'] = (dd['成交价(万元)'].sum() / dd['起始价(万元)'].sum() - 1) *100

# 计算12,和 34 线城市溢价率
d1234 = dd.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市能级', fill_value=0)
d1234['溢价率'] = (d1234['成交价(万元)'] / d1234['起始价(万元)'] - 1) *100
d1234 = d1234[['溢价率']]
d1234


## 新加1.1  计算 城市类型的溢价率
dType = dd.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市分类', fill_value=0)
dType['溢价率'] = (dType['成交价(万元)'] / dType['起始价(万元)'] - 1) *100
dType = dType[['溢价率']]
dType

# 合并 全国和12,34线城市
d_all_city = pd.concat((d1, d1234, dType))
d_all_city.replace([np.inf,-np.inf],0, inplace=True)
d_all_city.tail()

           溢价率
一二线  12.237715
三四线  17.394895
据点型  16.145364
机会型  22.904421
深耕型  12.489106

**计算101, 12, 34 城市 成交率**

In [14]:
## 新加1.1 城市类型
dType_city = d.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市分类', fill_value=0)

# 12, 34 线
a12 = d.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市能级', fill_value=0)

# 101城
a101 = d.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count', fill_value=0)
a101.index = ['101城']
display(dType_city,a101, a12)


# 全国和101,3412城市综合列表
a101_12_34 = pd.concat((a,a12,a101, dType_city))


# 将全国溢价率 合并到全国各个城市中
all_city = pd.concat((a101_12_34,d_all_city), axis=1, sort=True)
all_city.head()

溢价率分类  底价  流拍  溢价  高溢价
城市分类
据点型    24   2  12    5
机会型     4   1   4    0
深耕型    57   4  36    7

溢价率分类  底价  流拍  溢价  高溢价
101城   85   7  52   12

溢价率分类  底价  流拍  溢价  高溢价
城市能级
一二线    57   4  34    5
三四线    28   3  18    7

      底价  流拍  溢价  高溢价        溢价率
101城  85   7  52   12  13.276176
一二线   57   4  34    5  12.237715
三四线   28   3  18    7  17.394895
上海     1   0   2    0  18.860682
东莞     1   0   0    0   0.000000

In [15]:
# 101 最终状态, 预留和后边底稿合并
c = all_city.copy()
if '流拍' not in c.columns:
    c['流拍'] = 0
if '高溢价' not in c.columns:
    c['高溢价'] = 0
c.eval(' 总计 = 底价+溢价+高溢价', inplace=True)
c.eval(' 总计流拍 = 底价+溢价+流拍+高溢价', inplace=True)

c['底价成交率'] = (c['底价'] / c['总计']).apply(lambda x: format(x, '.4f')) 
c['流拍率'] = (c['流拍'] / c['总计流拍']).apply(lambda x: format(x, '.4f')) 
# c['溢价'] = (c['溢价'] / c['总计']).apply(lambda x: format(x, '.4f')) 
c['高溢价成交率'] = (c['高溢价'] / c['总计']).apply(lambda x: format(x, '.4f')) 
c = c[['底价成交率', '高溢价成交率', '流拍率','溢价率']]
c.head()

       底价成交率  高溢价成交率     流拍率        溢价率
101城  0.5705  0.0805  0.0449  13.276176
一二线   0.5938  0.0521  0.0400  12.237715
三四线   0.5283  0.1321  0.0536  17.394895
上海    0.3333  0.0000  0.0000  18.860682
东莞    1.0000  0.0000  0.0000   0.000000

### 溢价率结构 按照上个月出 （all_city_yue）

In [16]:
# TODO
# 本周每个城市溢价率分类详情
d_yue = deal_liupai[deal_liupai['月']==lastMonth]
a_yue = d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市', fill_value=0)
a_yue.head()



# 计算每个城市溢价率   去除 流拍选项
dd_yue = d_yue[d_yue['溢价率分类'] !='流拍']
d1_yue = dd_yue.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市', fill_value=0)
d1_yue['溢价率'] = (d1_yue['成交价(万元)'] / d1_yue['起始价(万元)'] - 1) *100
d1_yue = d1_yue[['溢价率']]

d1_yue.head()



# 计算101城市溢价率
d1_yue.loc['101城'] = (dd_yue['成交价(万元)'].sum() / dd_yue['起始价(万元)'].sum() - 1) *100

# 计算12,和 34 线城市溢价率
d1234_yue = dd_yue.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市能级', fill_value=0)
d1234_yue['溢价率'] = (d1234_yue['成交价(万元)'] / d1234_yue['起始价(万元)'] - 1) *100
d1234_yue = d1234_yue[['溢价率']]
d1234_yue.head()


## 新加1.1  计算 城市类型的溢价率
dType_yue = dd_yue.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市分类', fill_value=0)
dType_yue['溢价率'] = (dType_yue['成交价(万元)'] / dType_yue['起始价(万元)'] - 1) *100
dType_yue = dType_yue[['溢价率']]
dType_yue



# 合并 全国和12,34线城市
d_all_city_yue = pd.concat((d1_yue, d1234_yue, dType_yue))
d_all_city_yue.replace([np.inf,-np.inf],0, inplace=True)
d_all_city_yue.head()



## 新加1.1 城市类型
dType_city_yue = d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市分类', fill_value=0)


# 12, 34 线
a12_yue = d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市能级', fill_value=0)

# 101线
a101_yue = d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count', fill_value=0)
a101_yue.index = ['101城']
display(dType_city_yue, a101_yue, a12_yue)

# 全国和101,3412城市综合列表
a101_12_34_yue = pd.concat((a_yue, a12_yue, a101_yue, dType_city_yue))

# 合并溢价分类, 和 溢价率数据
all_city_yue = pd.concat((a101_12_34_yue, d_all_city_yue), axis=1, sort=True)
all_city_yue.head()

溢价率分类   底价  流拍   溢价  高溢价
城市分类
据点型    164  17   85   37
机会型     59  16   20   23
深耕型    400  29  196   62

溢价率分类   底价  流拍   溢价  高溢价
101城   623  62  301  122

溢价率分类   底价  流拍   溢价  高溢价
城市能级
一二线    397  31  193   58
三四线    226  31  108   64

       底价  流拍   溢价  高溢价        溢价率
101城  623  62  301  122  18.814541
一二线   397  31  193   58  17.554977
三四线   226  31  108   64  21.852082
上海     13   0   11    1  13.733337
东莞      2   0    5    4  30.111476

### 溢价率结构,  当前月出  (current_all_city_yue)

In [17]:
# TODO
# 本月每个城市溢价率分类详情
current_d_yue = deal_liupai[deal_liupai['月']==currentMonth]
current_a_yue = current_d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市', fill_value=0)
# current_a_yue.head()



# 计算每个城市溢价率   去除 流拍选项
current_dd_yue = current_d_yue[current_d_yue['溢价率分类'] !='流拍']
current_d1_yue = current_dd_yue.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市', fill_value=0)
current_d1_yue['溢价率'] = (current_d1_yue['成交价(万元)'] / current_d1_yue['起始价(万元)'] - 1) *100
current_d1_yue = current_d1_yue[['溢价率']]


# 计算101城市溢价率
current_d1_yue.loc['101城'] = (current_dd_yue['成交价(万元)'].sum() / current_dd_yue['起始价(万元)'].sum() - 1) *100


# # 计算12,和 34 线城市溢价率
current_d1234_yue = current_dd_yue.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市能级', fill_value=0)
current_d1234_yue['溢价率'] = (current_d1234_yue['成交价(万元)'] / current_d1234_yue['起始价(万元)'] - 1) *100
current_d1234_yue = current_d1234_yue[['溢价率']]
# current_d1234.head()


## 新加1.1  计算 城市类型的溢价率
current_dType_yue = current_dd_yue.pivot_table(values=['起始价(万元)','成交价(万元)'], aggfunc='sum',index='城市分类', fill_value=0)
current_dType_yue['溢价率'] = (current_dType_yue['成交价(万元)'] / current_dType_yue['起始价(万元)'] - 1) *100
current_dType_yue = current_dType_yue[['溢价率']]
current_dType_yue


# # 合并 全国和12,34线城市
current_d_all_city_yue = pd.concat((current_d1_yue, current_d1234_yue,current_dType_yue))
current_d_all_city_yue.replace([np.inf,-np.inf],0, inplace=True)



## 新加1.1 城市类型
current_dType_city_yue = current_d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市分类', fill_value=0)


# 12, 34 线
current_a12_yue = current_d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='城市能级', fill_value=0)

# # 101线
current_a101_yue = current_d_yue.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count', fill_value=0)
current_a101_yue.index = ['101城']
display(current_a101_yue, current_a12_yue,current_dType_city_yue)



# # 全国和101,3412城市综合列表
current_a101_12_34_yue = pd.concat((current_a_yue, current_a12_yue, current_a101_yue,current_dType_city_yue))
# current_a101_12_34_yue.tail()

# # 合并溢价分类, 和 溢价率数据
current_all_city_yue = pd.concat((current_a101_12_34_yue, current_d_all_city_yue), axis=1, sort=True)
current_all_city_yue.head()

溢价率分类  底价  流拍  溢价  高溢价
101城   29   1  16    3

溢价率分类  底价  流拍  溢价  高溢价
城市能级
一二线    17   0  10    1
三四线    12   1   6    2

溢价率分类  底价  流拍  溢价  高溢价
城市分类
据点型     9   1   5    1
机会型     2   0   0    0
深耕型    18   0  11    2

      底价  流拍  溢价  高溢价        溢价率
101城  29   1  16    3  11.053294
一二线   17   0  10    1   9.359962
三四线   12   1   6    2  19.238195
上海     1   0   1    0  20.492278
临沂     4   0   0    0   0.000000

## 房企

In [18]:
enterprise = pd.read_excel('../数据整理/中指综合后的2016-2020数据.xlsx', sheet_name='房企拿地')

enterprise = enterprise[enterprise['周'] != currentWeek+1]

enterprise.fillna(0, inplace=True)
enterprise = enterprise[['房企', '地块名称', '城市', '规划用途', '占地面积(万㎡)',
           '规划建筑面积(万㎡)', '总成交金额(亿元)', '平均楼面价(元/㎡)',
           '平均溢价率(%)', '土地权益(%)','权益金额(亿元)', '权益规划建筑面积(万㎡)', 
            '拿地时间', '城市能级', '年', '月', '周', '房企排名']]
enterprise['城市能级'] = enterprise['城市'].map(lambda x: city_map.get(x, '三四线'))


enterprise['日'] = enterprise['拿地时间'].map(lambda x: x.split("-")[2].lstrip('0'))
enterprise['溢价率结构'] = enterprise['平均溢价率(%)'].map(lambda x: '溢价率<10%' if x<=10 else '溢价率>50%' if x>=50 else '溢价率10-50%'  )
# enterprise.head(1)

**需要修改**

In [19]:
# 为 方便计算月更, 此处去除2019年一月份数据
# 同时去除第1,2 3周数据
enterprise = enterprise.query('年>2018')
enterprise = enterprise.drop(enterprise[(enterprise['月'] == 1) & (enterprise['年'] == 2019) ].index)
enterprise = enterprise.drop(enterprise[(enterprise['月'] == currentMonth) & (enterprise['年'] == 2019) ].index)
enterprise = enterprise.drop(enterprise[(enterprise['周'] == currentWeek) & (enterprise['年'] == 2019) ].index)
# enterprise.shape

### 整合成底稿

```
1.房企溢价率为平均溢价率（计算为平均值项）					
2.底价成交率=溢价率<10%地块数量/总计数量					
3.高溢价成交率=溢价率大于50%地块数量/总计数量					
```

#### 底稿 _周度

In [20]:
# TODO
enterpris_week = enterprise[enterprise['周']==currentWeek]
fangqi = enterpris_week.pivot_table(values='地块名称', columns='溢价率结构', aggfunc='count', index='房企排名',fill_value=0)
# fangqi.head()

fangqi.rename(columns={'溢价率10-50%':'溢价', '溢价率<10%':'底价', '溢价率>50%':'高溢价'}, inplace=True)
fangqi['流拍'] = 0


# fangqi.loc['TOP30-50'] = 0
if 'TOP30-50' not in fangqi.index:
    fangqi.loc['TOP30-50'] = 0
if 'TOP30' not in fangqi.index:
    fangqi.loc['TOP30'] = 0

# 合并上边计算出来的 溢价分类数据表
digao = pd.concat((a101_12_34, fangqi), sort=True)
digao = digao.fillna(0)
digao.tail(5)

          底价  流拍  溢价  高溢价
据点型       24   2  12    5
机会型        4   1   4    0
深耕型       57   4  36    7
TOP30     28   0  19    3
TOP30-50   7   0   7    1

In [21]:
digao.columns

Index(['底价', '流拍', '溢价', '高溢价'], dtype='object')

In [22]:
if '高溢价' not in digao.columns:
    digao['高溢价'] = 0

c = digao.copy()
c.eval(' 总计 = 底价+溢价+高溢价', inplace=True)
c.eval(' 总计流拍 = 底价+溢价+流拍+高溢价', inplace=True)

c['底价成交率'] = (c['底价'] / c['总计']).apply(lambda x: format(x, '.4f')) 
c['流拍率'] = (c['流拍'] / c['总计流拍']).apply(lambda x: format(x, '.4f')) 
# c['溢价率'] = (c['溢价'] / c['总计']).apply(lambda x: format(x, '.4f')) 
c['高溢价成交率'] = (c['高溢价'] / c['总计']).apply(lambda x: format(x, '.4f')) 

c1 = c[['底价成交率','流拍率','高溢价成交率']]
c1.replace('nan',0,inplace=True)
c1.tail(2)

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:3795: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

           底价成交率     流拍率  高溢价成交率
TOP30     0.5600  0.0000  0.0600
TOP30-50  0.4667  0.0000  0.0667

In [23]:
d_all_city.head(2)

          溢价率
上海  18.860682
东莞   0.000000

In [24]:
# 合并溢价率
all_city = pd.concat((c1, d_all_city), axis=1, sort=True)
all_city.head()

           底价成交率     流拍率  高溢价成交率        溢价率
101城      0.5705  0.0449  0.0805  13.276176
TOP30     0.5600  0.0000  0.0600        NaN
TOP30-50  0.4667  0.0000  0.0667        NaN
一二线       0.5938  0.0400  0.0521  12.237715
三四线       0.5283  0.0536  0.1321  17.394895

In [25]:
# TODO
# 计算TOP30, 和 TOP30-50的溢价率
TOP = enterprise[enterprise['周']==currentWeek]
TOP30 = TOP[TOP["房企排名"] == 'TOP30']
TOP30_50 = TOP[TOP["房企排名"] == "TOP30-50"]

all_city['溢价率'].loc['TOP30'] = TOP30['平均溢价率(%)'].mean()
all_city['溢价率'].loc['TOP30-50'] = TOP30_50['平均溢价率(%)'].mean()
all_city.head()

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

           底价成交率     流拍率  高溢价成交率        溢价率
101城      0.5705  0.0449  0.0805  13.276176
TOP30     0.5600  0.0000  0.0600  15.541875
TOP30-50  0.4667  0.0000  0.0667  17.132785
一二线       0.5938  0.0400  0.0521  12.237715
三四线       0.5283  0.0536  0.1321  17.394895

In [26]:
# 101成
df = pd.DataFrame(['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳', '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州', '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安', '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照', '淮北', '广元', '汉中', '绵阳'])
df.rename(columns={0:'城市'}, inplace=True)
df.set_index('城市', inplace=True)


zuizhong = pd.concat((df, all_city), axis=1, sort=True).fillna(0)
# zuizhong.head()


# 格式化显示
z = zuizhong.astype(float)
for i in z.columns:
    z[i] = z[i].map(lambda x: 0 if isinstance(x, float) and x==0 else '%.4f'%float(x) ) 

zuizhong = z.copy()

if '深耕型' not in zuizhong.index:
    zuizhong.loc['深耕型'] = 0
if '据点型' not in zuizhong.index:
    zuizhong.loc['据点型'] = 0
if '机会型' not in zuizhong.index:
    zuizhong.loc['机会型'] = 0
zuizhong = zuizhong.stack().unstack(0)
zuizhong = zuizhong[['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳', '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州', '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安', '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照', '淮北', '广元', '汉中', '绵阳', "101城", "一二线", "三四线", "TOP30", "TOP30-50", '深耕型','据点型','机会型']]
zuizhong = zuizhong.loc[['溢价率', '底价成交率', '高溢价成交率', '流拍率']]
# zuizhong = zuizhong.replace(0, np.NaN)
for i in zuizhong.columns:
    if len([i for i in zuizhong[i].tolist() if i==0])==4:
        zuizhong[i] = zuizhong[i].replace(0, np.NaN)
zuizhong

,北京,上海,广州,深圳,南京,苏州,厦门,合肥,天津,武汉,...,汉中,绵阳,101城,一二线,三四线,TOP30,TOP30-50,深耕型,据点型,机会型
溢价率,NaN,18.8607,1.7581,NaN,1.2263,12.6818,13.5077,NaN,NaN,9.0129,...,NaN,NaN,13.2762,12.2377,17.3949,15.5419,17.1328,12.4891,16.1454,22.9044
底价成交率,NaN,0.3333,1.0000,NaN,0.8333,0,0.7500,NaN,NaN,0.6250,...,NaN,NaN,0.5705,0.5938,0.5283,0.5600,0.4667,0.5700,0.5854,0.5000
高溢价成交率,NaN,0,0,NaN,0,0,0,NaN,NaN,0.2500,...,NaN,NaN,0.0805,0.0521,0.1321,0.0600,0.0667,0.0700,0.1220,0
流拍率,NaN,0,0.5000,NaN,0,0,0,NaN,NaN,0,...,NaN,NaN,0.0449,0.0400,0.0536,0,0,0.0385,0.0465,0.1111

#### 底稿 _上月度

In [27]:
# TODO
enterprise_yue = enterprise[enterprise['月']==lastMonth]
fangqi_yue = enterprise_yue.pivot_table(values='地块名称', columns='溢价率结构', aggfunc='count', index='房企排名',fill_value=0)
# fangqi.head()

fangqi_yue.rename(columns={'溢价率10-50%':'溢价', '溢价率<10%':'底价', '溢价率>50%':'高溢价'}, inplace=True)
fangqi_yue['流拍'] = 0


# 合并上边计算出来的 溢价分类数据表
digao_yue = pd.concat((a101_12_34_yue, fangqi_yue), sort=True)
digao_yue = digao_yue.fillna(0)
digao_yue.head(1)

    底价  流拍  溢价  高溢价
上海  13   0  11    1

In [28]:
c = digao_yue.copy()
c.eval(' 总计 = 底价+溢价+高溢价', inplace=True)
c.eval(' 总计流拍 = 底价+溢价+流拍+高溢价', inplace=True)

c['底价成交率'] = (c['底价'] / c['总计']).apply(lambda x: format(x, '.4f')) 
c['流拍率'] = (c['流拍'] / c['总计流拍']).apply(lambda x: format(x, '.4f')) 
c['高溢价成交率'] = (c['高溢价'] / c['总计']).apply(lambda x: format(x, '.4f')) 

c1 = c[['底价成交率','流拍率','高溢价成交率']]
c1.replace('nan',0,inplace=True)
c1.tail(2)

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:3795: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

           底价成交率     流拍率  高溢价成交率
TOP30     0.6316  0.0000  0.0855
TOP30-50  0.4932  0.0000  0.1419

In [29]:
# 合并溢价率
all_city_yue = pd.concat((c1, d_all_city_yue), axis=1, sort=True)
# all_city_yue

In [30]:
# TODO
# 计算TOP30, 和 TOP30-50的溢价率
TOP = enterprise[enterprise['月']==lastMonth]
TOP30 = TOP[TOP["房企排名"] == 'TOP30']
TOP30_50 = TOP[TOP["房企排名"] == "TOP30-50"]

all_city_yue['溢价率'].loc['TOP30'] = TOP30['平均溢价率(%)'].mean() 
all_city_yue['溢价率'].loc['TOP30-50'] = TOP30_50['平均溢价率(%)'].mean()
all_city_yue.head()

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

           底价成交率     流拍率  高溢价成交率        溢价率
101城      0.5956  0.0560  0.1166  18.814541
TOP30     0.6316  0.0000  0.0855  14.703041
TOP30-50  0.4932  0.0000  0.1419  21.143664
一二线       0.6127  0.0457  0.0895  17.554977
三四线       0.5678  0.0723  0.1608  21.852082

In [31]:
# 101成
df = pd.DataFrame(['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳', '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州', '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安', '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照', '淮北', '广元', '汉中', '绵阳'])
df.rename(columns={0:'城市'}, inplace=True)
df.set_index('城市', inplace=True)


zuizhong_yue = pd.concat((df, all_city_yue), axis=1, sort=True).fillna(0)



# 格式化显示
z = zuizhong_yue.astype(float)
for i in z.columns:
    z[i] = z[i].map(lambda x: 0 if isinstance(x, float) and x==0 else '%.4f'%float(x) ) 

zuizhong_yue = z.copy()
if '深耕型' not in zuizhong_yue.index:
    zuizhong_yue.loc['深耕型'] = 0
if '据点型' not in zuizhong_yue.index:
    zuizhong_yue.loc['据点型'] = 0
if '机会型' not in zuizhong_yue.index:
    zuizhong_yue.loc['机会型'] = 0
zuizhong_yue = zuizhong_yue.stack().unstack(0)
zuizhong_yue = zuizhong_yue[['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳', '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州', '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安', '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照', '淮北', '广元', '汉中', '绵阳', "101城", "一二线", "三四线", "TOP30", "TOP30-50", '深耕型','据点型','机会型']]
zuizhong_yue = zuizhong_yue.loc[['溢价率', '底价成交率', '高溢价成交率', '流拍率']]
# zuizhong_yue = zuizhong_yue.replace(0, np.NaN)
for i in zuizhong_yue.columns:
    if len([i for i in zuizhong_yue[i].tolist() if i==0])==4:
        zuizhong_yue[i] = zuizhong_yue[i].replace(0, np.NaN)
zuizhong_yue

,北京,上海,广州,深圳,南京,苏州,厦门,合肥,天津,武汉,...,汉中,绵阳,101城,一二线,三四线,TOP30,TOP30-50,深耕型,据点型,机会型
溢价率,16.3535,13.7333,10.7847,29.9118,25.5791,8.3251,15.3885,0.6131,5.8095,12.3964,...,0,NaN,18.8145,17.5550,21.8521,14.7030,21.1437,17.6931,20.8526,29.5854
底价成交率,0.4286,0.5200,0.6471,0.2727,0.2593,0.5000,0.4444,1.0000,0.7895,0.5758,...,1.0000,NaN,0.5956,0.6127,0.5678,0.6316,0.4932,0.6079,0.5734,0.5784
高溢价成交率,0,0.0400,0,0,0.0370,0,0.1111,0,0,0.1818,...,0,NaN,0.1166,0.0895,0.1608,0.0855,0.1419,0.0942,0.1294,0.2255
流拍率,0,0,0.1053,0.1538,0,0,0,0,0.0500,0.0833,...,0,NaN,0.0560,0.0457,0.0723,0,0,0.0422,0.0561,0.1356

#### 底稿_当前月

In [32]:
# # TODO
current_enterprise_yue = enterprise[enterprise['月']==currentMonth]
current_fangqi_yue = current_enterprise_yue.pivot_table(values='地块名称', columns='溢价率结构', aggfunc='count', index='房企排名',fill_value=0)

# 不存在某些字段, 则添加上
for i in ['溢价率10-50%', '溢价率<10%','溢价率>50%']:
    if i not in current_fangqi_yue.columns:
        current_fangqi_yue[i] = 0
    

current_fangqi_yue.rename(columns={'溢价率10-50%':'溢价', '溢价率<10%':'底价', '溢价率>50%':'高溢价'}, inplace=True)
current_fangqi_yue['流拍'] = 0
current_fangqi_yue


# # 合并上边计算出来的 溢价分类数据表
current_digao_yue = pd.concat((current_a101_12_34_yue, current_fangqi_yue), sort=True)
current_digao_yue = current_digao_yue.fillna(0)

if "TOP30-50" not in current_digao_yue.index:
    current_digao_yue.loc['TOP30-50'] = [0, 0, 0, 0]
if "TOP30" not in current_digao_yue.index:
    current_digao_yue.loc['TOP30'] = [0, 0, 0, 0]
current_digao_yue.tail(2)

          底价  流拍  溢价  高溢价
TOP30      5   0   4    2
TOP30-50   1   0   2    0

In [33]:
c = current_digao_yue.copy()
c.eval(' 总计 = 底价+溢价+高溢价', inplace=True)
c.eval(' 总计流拍 = 底价+溢价+流拍+高溢价', inplace=True)

c['底价成交率'] = (c['底价'] / c['总计']).apply(lambda x: format(x, '.4f')) 
c['流拍率'] = (c['流拍'] / c['总计流拍']).apply(lambda x: format(x, '.4f')) 
c['高溢价成交率'] = (c['高溢价'] / c['总计']).apply(lambda x: format(x, '.4f')) 

c1 = c[['底价成交率','流拍率','高溢价成交率']]
c1.replace('nan',0,inplace=True)
c1.tail(2)

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:3795: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

           底价成交率     流拍率  高溢价成交率
TOP30     0.4545  0.0000  0.1818
TOP30-50  0.3333  0.0000  0.0000

In [34]:
# # 合并溢价率
current_all_city_yue = pd.concat((c1, current_d_all_city_yue), axis=1, sort=True)
current_all_city_yue.head()

           底价成交率     流拍率  高溢价成交率        溢价率
101城      0.6042  0.0204  0.0625  11.053294
TOP30     0.4545  0.0000  0.1818        NaN
TOP30-50  0.3333  0.0000  0.0000        NaN
一二线       0.6071  0.0000  0.0357   9.359962
三四线       0.6000  0.0476  0.1000  19.238195

In [35]:
# # TODO
# 计算TOP30, 和 TOP30-50的溢价率
current_TOP = enterprise[enterprise['月']==currentMonth]
current_TOP30 = current_TOP[current_TOP["房企排名"] == 'TOP30']
current_TOP30_50 = current_TOP[current_TOP["房企排名"] == "TOP30-50"]

current_all_city_yue['溢价率'].loc['TOP30'] = 0 if len(current_TOP30)==0 else current_TOP30['平均溢价率(%)'].mean() 
current_all_city_yue['溢价率'].loc['TOP30-50'] = 0 if len(current_TOP30_50)==0 else current_TOP30_50['平均溢价率(%)'].mean()

current_all_city_yue.head()

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

           底价成交率     流拍率  高溢价成交率        溢价率
101城      0.6042  0.0204  0.0625  11.053294
TOP30     0.4545  0.0000  0.1818  20.714448
TOP30-50  0.3333  0.0000  0.0000  10.977261
一二线       0.6071  0.0000  0.0357   9.359962
三四线       0.6000  0.0476  0.1000  19.238195

In [36]:
city_map.keys()

dict_keys(['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳', '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州', '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安', '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照', '淮北', '广元', '汉中', '绵阳'])

In [37]:
# 101成
current_df = pd.DataFrame(['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳', '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州', '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安', '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照', '淮北', '广元', '汉中', '绵阳'])
current_df.rename(columns={0:'城市'}, inplace=True)
current_df.set_index('城市', inplace=True)


current_zuizhong_yue = pd.concat((current_df, current_all_city_yue), axis=1, sort=True).fillna(0)


# # 格式化显示
z = current_zuizhong_yue.astype(float)
for i in z.columns:
    z[i] = z[i].map(lambda x: 0 if isinstance(x, float) and x==0 else '%.4f'%float(x) ) 

current_zuizhong_yue = z.copy()
if '深耕型' not in current_zuizhong_yue.index:
    current_zuizhong_yue.loc['深耕型'] = 0
if '据点型' not in current_zuizhong_yue.index:
    current_zuizhong_yue.loc['据点型'] = 0
if '机会型' not in current_zuizhong_yue.index:
    current_zuizhong_yue.loc['机会型'] = 0
current_zuizhong_yue = current_zuizhong_yue.stack().unstack(0)
current_zuizhong_yue = current_zuizhong_yue[['北京', '上海', '广州', '深圳', '南京', '苏州', '厦门', '合肥', '天津', '武汉', '杭州', '福州', '济南', '南昌', '无锡', '宁波', '成都', '郑州', '南宁', '长沙', '西安', '重庆', '青岛', '沈阳', '大连', '常州', '徐州', '南通', '嘉兴', '绍兴', '温州', '镇江', '泉州', '漳州', '佛山', '东莞', '中山', '惠州', '珠海', '安庆', '株洲', '阜阳', '芜湖', '荆门', '荆州', '抚州', '赣州', '吉安', '九江', '信阳', '南阳', '淄博', '临沂', '兰州', '昆明', '宝鸡', '德阳', '哈尔滨', '湖州', '江门', '金华', '丽水', '龙岩', '泸州', '马鞍山', '南平', '内江', '宁德', '莆田', '衢州', '三明', '汕头', '石家庄', '台州', '泰州', '潍坊', '烟台', '盐城', '银川', '长春', '肇庆', '茂名', '海口', '泰安', '威海', '包头', '舟山', '柳州', '贵港', '天水', '淮南', '玉林', '牡丹江', '宣城', '张家界', '德州', '日照', '淮北', '广元', '汉中', '绵阳', "101城",  "一二线", "三四线", "TOP30", "TOP30-50",'深耕型','据点型','机会型']]
current_zuizhong_yue = current_zuizhong_yue.loc[['溢价率', '底价成交率', '高溢价成交率', '流拍率']]
# current_zuizhong_yue = current_zuizhong_yue.replace(0, np.NaN)
for i in current_zuizhong_yue.columns:
    if len([i for i in current_zuizhong_yue[i].tolist() if i==0])==4:
        current_zuizhong_yue[i] = current_zuizhong_yue[i].replace(0, np.NaN)
current_zuizhong_yue

,北京,上海,广州,深圳,南京,苏州,厦门,合肥,天津,武汉,...,汉中,绵阳,101城,一二线,三四线,TOP30,TOP30-50,深耕型,据点型,机会型
溢价率,NaN,20.4923,6.6583,NaN,0,12.2569,NaN,NaN,NaN,NaN,...,NaN,NaN,11.0533,9.3600,19.2382,20.7144,10.9773,9.8732,17.1307,2.3490
底价成交率,NaN,0.5000,1.0000,NaN,1.0000,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.6042,0.6071,0.6000,0.4545,0.3333,0.5806,0.6000,1.0000
高溢价成交率,NaN,0,0,NaN,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0625,0.0357,0.1000,0.1818,0,0.0645,0.0667,0
流拍率,NaN,0,0,NaN,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0204,0,0.0476,0,0,0,0.0625,0

#### 保存预警指标

In [38]:
# datetime.datetime.now().isocalendar()[1]-1  周
name = "../数据整理/世茂指标预警_{}周.xlsx".format(currentWeek)
writer = pd.ExcelWriter(name)

zuizhong_one = zuizhong.copy()
for i in zuizhong_one.columns: 
    zuizhong_one[i] = zuizhong_one[i].map(lambda x: int(x) if x in [0, 1] else float(x))

current_zuizhong_yue_one = current_zuizhong_yue.copy()
for i in current_zuizhong_yue_one.columns: 
    current_zuizhong_yue_one[i] = current_zuizhong_yue_one[i].map(lambda x: int(x) if x in [0, 1] else float(x))

zuizhong_yue_one = zuizhong_yue.copy()
for i in zuizhong_yue_one.columns: 
    zuizhong_yue_one[i] = zuizhong_yue_one[i].map(lambda x: int(x) if x in [0, 1] else float(x))

In [39]:
zuizhong_one.to_excel(writer, sheet_name='土地预警指标_周更')
current_zuizhong_yue_one.to_excel(writer, sheet_name='土地预警指标_%s月更'%currentMonth)
zuizhong_yue_one.to_excel(writer, sheet_name='土地预警指标_%s月更'%lastMonth)
writer.save()
writer.close()

### 图2 TOP30周更

#### 图6  op30, 30-50房企当周拿地布局

In [40]:
# TODO
top30_30_50 = enterprise[enterprise['周'] == currentWeek]

# 数据透视表
top30_30_50_layout = top30_30_50.pivot_table(index=['房企排名', '房企', '城市'],
                                values='地块名称', 
                                columns='溢价率结构', 
                                aggfunc='count',
                                fill_value=0)

top30_30_50_layout.rename(columns={'溢价率10-50%':'溢价成交', '溢价率<10%':'底价成交', '溢价率>50%':'高溢价成交'}, inplace=True)

if '溢价成交' not in top30_30_50_layout.columns:
    top30_30_50_layout['溢价成交'] = 0
if '底价成交' not in top30_30_50_layout.columns:
    top30_30_50_layout['底价成交'] = 0
if '高溢价成交' not in top30_30_50_layout.columns:
    top30_30_50_layout['高溢价成交'] = 0


try:
    top30_layout = top30_30_50_layout.loc['TOP30']
except:
    print('没有30数据')

try:
    top30_50_layout = top30_30_50_layout.loc["TOP30-50"]
except:
    print('没有50数据')

In [41]:

top30_30_50_layout

溢价率结构                 溢价成交  底价成交  高溢价成交
房企排名     房企     城市
TOP30    万科     宜昌       1     0      0
                青岛       0     2      0
         中南建设   嘉兴       0     1      0
                温州       1     0      0
                苏州       0     1      0
         中海地产   武汉       1     1      0
         保利地产   东莞       0     1      0
                广州       0     1      0
                芜湖       0     0      1
         华夏幸福   郑州       0     1      0
         华润置地   青岛       0     1      0
         招商蛇口   上海       1     0      0
                杭州       0     1      0
         新城发展控股 台州       1     0      0
                安阳       0     3      0
                淄博       0     1      0
                淮安       0     2      0
                长沙       0     1      0
         碧桂园    呼和浩特     0     2      0
                常州       1     0      0
                抚州       1     0      0
                烟台       0     1      0
                盐城       0     0      1
                苏州       1     0      0
                青岛       0     1      0
         绿地控股   常州       1     0      0
                徐州       0     2      0
                苏州       1     0      0
         绿城中国   宁波       2     0      1
                杭州       1     0      0
         蓝光发展   唐山       0     1      0
                福州       0     1      0
         融创中国   杭州       1     0      0
                郑州       0     1      0
         金科股份   南京       1     0      0
                苏州       1     0      0
                重庆       1     0      0
         阳光城集团  广州       0     1      0
         龙湖集团   绍兴       1     0      0
                重庆       1     0      0
                长春       0     1      0
TOP30-50 中国铁建   郑州       0     1      0
         中骏集团   上海       0     1      0
         佳兆业集团  惠州       0     1      0
         卓越置业   佛山       1     0      0
                惠州       0     1      0
         滨江集团   宁波       0     1      0
                杭州       2     0      0
         禹洲地产   宁波       1     0      0
                绍兴       1     0      0
         荣盛发展   沧州       0     2      0
         金辉集团   淮安       0     0      1
                重庆       1     0      0
         首开股份   苏州       1     0      0

In [42]:
top30_layout['总计'] = top30_layout['溢价成交'] + top30_layout['底价成交'] + top30_layout['高溢价成交'] 

try:
    top30_50_layout['总计'] = top30_50_layout['溢价成交'] + top30_50_layout['底价成交'] + top30_50_layout['高溢价成交'] 
except:
    print('没有50数据')
# display(top30_layout, top30_50_layout)

In [43]:
top30_layout.to_excel('TOP30拿地策略.xlsx')
top30_layout = pd.read_excel('TOP30拿地策略.xlsx')
top30_layout = top30_layout[['房企','城市','底价成交','溢价成交','高溢价成交','总计']]
data = {i:[top30_layout[i].sum()] if '成交' in i or '总计' in i else '' if i!='房企' else '总计' for i in top30_layout.columns}
df = pd.DataFrame(data=data)
# top30_layout.replace(0, '', inplace=True)
top30_layout_end = pd.concat((top30_layout, df ), ignore_index=True)
top30_layout_end = top30_layout_end.fillna('')

top30_layout_end['总计'] = top30_layout_end['总计'].astype(str)
data = top30_layout_end.values.tolist()
data.insert(0, top30_layout_end.columns)
top30_layout_end = pd.DataFrame(data)
top30_layout_end.head(2)

    0   1     2     3      4   5
0  房企  城市  底价成交  溢价成交  高溢价成交  总计
1  万科  宜昌     0     1      0   1

In [44]:
try:
    top30_50_layout.to_excel('TOP30_50_拿地策略.xlsx')
    top30_50_layout = pd.read_excel('TOP30_50_拿地策略.xlsx')
    top30_50_layout = top30_50_layout[['房企','城市','底价成交','溢价成交','高溢价成交','总计']]
    data = {i:[top30_50_layout[i].sum()] if '成交' in i or '总计' in i else '' if i!='房企' else '总计' for i in top30_50_layout.columns}
    df = pd.DataFrame(data=data)
    top30_50_layout.replace(0, '', inplace=True)
    top30_50_layout_end = pd.concat((top30_50_layout, df ), ignore_index=True)
    top30_50_layout_end = top30_50_layout_end.fillna('')
    top30_50_layout_end


    top30_50_layout_end['总计'] = top30_50_layout_end['总计'].astype(str)
    data = top30_50_layout_end.values.tolist()
    data.insert(0, top30_50_layout_end.columns)
    top30_50_layout_end = pd.DataFrame(data)
    top30_50_layout_end.head(2)
except:
    top30_50_layout_end = pd.DataFrame(data=[{0:'房企',1:'城市',2:'底价成交', 3:'溢价成交',4:'高溢价成交',5:'总计'}])
    top30_50_layout_end.head(2)

In [45]:
# top30_layout_end.replace(0, '', inplace=True)
top30_layout_end.to_excel('top30_layout_end.xlsx', index=False)
top30_50_layout_end.to_excel('top30_50_layout_end.xlsx', index=False)

### 房企融资

In [46]:
# TOP50房企融资走势
# rongzi = pd.read_excel('../数据整理/中指2019年数据.xlsx', sheet_name='房企融资')
# rongzi['年'] = rongzi['时间'].map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d').isocalendar()[0])
# rongzi['周'] = rongzi['时间'].map(lambda x: int(datetime.datetime.strptime(x,'%Y-%m-%d').isocalendar()[1]))
# rongzi['月'] = rongzi['时间'].map(lambda x: int(datetime.datetime.strptime(x,'%Y-%m-%d').month))
# # rongzi['日'] = rongzi['时间'].map(lambda x: x.split('-')[2].lstrip('0'))

# rongzi = rongzi[rongzi['年']>2016]

#### 图7 房企融资走势

In [47]:
# 数据透视表
# rong_toushi = rongzi.pivot_table(values='金额(亿元)',
#                                  index=['年','周'],
# #                                  columns=['周',
#                                  aggfunc='sum',
#                                  fill_value=0)

# index = [str(i[0])+'0'+str(i[1]) if len(str(i[1]))==1  else str(i[0])+str(i[1]) for i in rong_toushi.index]


# rong = pd.DataFrame(rong_toushi.values, index, columns=['金额(亿元)'])
# rong = rong.reindex(index)
# rong.head()
# rong.to_excel('融资.xlsx')

#### 当周融资情况

In [48]:
# TODO
# 当周,实际为上一周

# rongzi = rongzi.drop(rongzi[(rongzi['月'] == 1) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi.drop(rongzi[(rongzi['月'] == 2) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi.drop(rongzi[(rongzi['月'] == 3) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi.drop(rongzi[(rongzi['周'] == 10) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi.drop(rongzi[(rongzi['周'] == 9) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi.drop(rongzi[(rongzi['周'] == 11) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi.drop(rongzi[(rongzi['周'] == 12) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi.drop(rongzi[(rongzi['周'] == 13) & (rongzi['年'] == 2019) ].index)
# rongzi = rongzi[rongzi['年']>2019]
# lastweek = currentWeek
# lastrong = rongzi.query('周==@lastweek' )

In [49]:
# lastrong_toushi = lastrong.pivot_table(values='金额(亿元)', index='房企', aggfunc='sum')
# lastrong_toushi.to_excel('融资当周情况.xlsx')

In [50]:
datetime.datetime.now()

datetime.datetime(2020, 7, 6, 14, 50, 56, 431952)