## 表格输出为图片

In [1]:
import os
os.getcwd()

'C:\\Users\\12602\\Anaconda3\\中指每周模拟下载\\中指数据处理he出图\\2019到2020过渡'

In [2]:
import pandas as pd
from prettytable import PrettyTable
from PIL import Image, ImageDraw, ImageFont

def create_table_img(data,img_name, **kwargs):
    '''
        img_name 图片名称 'D:/project/pythonwork/12306/t.png' 或 t.png
        data 表格内容，首行为表头部
        table_title 表格标题
        line_height 底部描述行高
        font 默认字体路径
        default_font_size 默认字体大小
        default_background_color 图片背景底色
        table_top_heght 设置表格顶部留白高度
        table_botton_heght 设置表格顶部留白高度
        describe 底部描述文字
    '''
    space = 0 ## 表格边距
    # 生成图片-------------------------------
    ### 底部描述行高
    if 'line_height' not in kwargs:  
         # line_height = 1
         line_height = 0
    else:
        line_height = kwargs['line_height']

    ### 默认字体
    if 'font' not in kwargs:  
         kwargs['font'] = None

    ### 默认字体大小
    if 'default_font_size' not in kwargs:
         kwargs['default_font_size'] = 12

    ### 默认表标题字体大小
    if 'table_title_font_size' not in kwargs:
#          kwargs['table_title_font_size'] = 22
         kwargs['table_title_font_size'] = 0


    ### 图片背景底色
    if 'default_background_color' not in kwargs:
         kwargs['default_background_color'] = (255,255,255,255)

    ### 设置表格顶部留白高度
    if 'table_top_heght' not in kwargs:
         kwargs['table_top_heght'] = kwargs['table_title_font_size'] + space + int(kwargs['table_title_font_size']/2)

    ## 底部描述文字
    if 'describe' in kwargs:
        describe_len = len(kwargs['describe'])
    else:
        describe_len = 0

    ### 设置表格底部留白高度
    if 'table_botton_heght' not in kwargs:
         kwargs['table_botton_heght'] = describe_len * kwargs['default_font_size'] + space
    
    ### 图片后缀
    if 'img_type' not in kwargs:
         kwargs['img_type'] = 'PNG'

    ### 默认字体及字体大小
    font = ImageFont.truetype(kwargs['font'], kwargs['default_font_size'], encoding='utf-8')
    font2 = ImageFont.truetype(kwargs['font'], kwargs['table_title_font_size'], encoding='utf-8')
    ## Image模块创建一个图片对象
    im = Image.new('RGB',(1, 1),kwargs['default_background_color'])
    ## ImageDraw向图片中进行操作，写入文字或者插入线条都可以
    draw = ImageDraw.Draw(im)
       
    # 创建表格---------------------------------
    tab = PrettyTable(border=True, header=True, header_style = 'title')
    ## 第一行设置为表头
    tab.field_names = data.pop(0)
    for row in data:
        tab.add_row(row)
    tab_info = str(tab)
    ## 根据插入图片中的文字内容和字体信息，来确定图片的最终大小
    img_size = draw.multiline_textsize(tab_info, font=font)
#     img_width = img_size[0]+space*2
#     table_height = img_size[1]+space*2
    img_width = img_size[0]
    table_height = img_size[1]
    img_height = table_height + kwargs['table_botton_heght'] + kwargs['table_top_heght']
    im_new = im.resize((img_width, img_height))
#     im_new = im.resize((405, 340))
    del draw
    del im
    draw = ImageDraw.Draw(im_new, 'RGB')
    draw.multiline_text((space,kwargs['table_top_heght']), tab_info + '\n\n', fill=(0,0,0), font=font)

    ### 表标题--------------------------
    if 'table_title' in kwargs:
        title_left_padding = (img_width - len(table_title) * kwargs['table_title_font_size']) / 2
        draw.multiline_text((title_left_padding, space), table_title, fill=(16,0,0), font=font2, align = 'center')


    y = table_height + space/2

    ### 描述内容-----------------------------------
    if 'describe' in kwargs:
        y = y + kwargs['default_font_size']
        frist_row = kwargs['describe'].pop(0)
        draw.text((space,y), frist_row, fill=(255,0,0), font=font)
        for describe_row in kwargs['describe']:
            y = y + kwargs['default_font_size'] + line_height
            draw.text((space,y), describe_row, fill=(0,0,0), font=font)
    del draw
    ### 保存为图片
    im_new.save(img_name,  kwargs['img_type'], quality=200)
    return True

## 整理所需数据

In [3]:
import os
import pyecharts
import datetime
import pandas as pd
import numpy as np


# 全局  当前周(实际为上周) / 当前月 / 上一个月
currentWeek = 1    # 本周
currentMonth = 1   # 这个月
lastMonth = 12     # 上个月

In [4]:
# 城市能级 city_map

city_map = {"上海": "一二线",
"北京": "一二线",
"重庆": "一二线",
"广州": "一二线",
"深圳": "一二线",
"天津": "一二线",
"成都": "一二线",
"杭州": "一二线",
"武汉": "一二线",
"苏州": "一二线",
"南京": "一二线",
"青岛": "一二线",
"郑州": "一二线",
"宁波": "一二线",
"佛山": "一二线",
"西安": "一二线",
"长沙": "一二线",
"无锡": "三四线",
"温州": "三四线",
"东莞": "三四线",
"福州": "一二线",
"济南": "一二线",
"厦门": "一二线",
"南通": "三四线",
"沈阳": "一二线",
"合肥": "一二线",
"石家庄": "一二线",
"哈尔滨": "一二线",
"昆明": "一二线",
"常州": "三四线",
"嘉兴": "三四线",
"泉州": "三四线",
"烟台": "三四线",
"台州": "三四线",
"唐山": "三四线",
"潍坊": "三四线",
"绍兴": "三四线",
"金华": "三四线",
"南昌": "一二线",
"长春": "一二线",
"惠州": "三四线",
"大连": "一二线",
"南宁": "一二线",
"临沂": "三四线",
"徐州": "三四线",
"中山": "三四线",
"廊坊": "三四线",
"珠海": "三四线",
"扬州": "三四线",
"保定": "三四线",
"泰州": "三四线",
"济宁": "三四线",
"湖州": "三四线",
"洛阳": "三四线",
"威海": "三四线",
"淄博": "三四线",
"镇江": "三四线",
"盐城": "三四线",
"三亚": "三四线",
"沧州": "三四线",
"邯郸": "三四线",
"贵阳": "一二线",
"赣州": "三四线",
"太原": "一二线",
"漳州": "三四线",
"呼和浩特": "一二线",
"芜湖": "三四线",
"兰州": "一二线",
"株洲": "三四线",
"江门": "三四线",
"东营": "三四线",
"泰安": "三四线",
"阜阳": "三四线",
"宜昌": "三四线",
"南阳": "三四线",
"衡阳": "三四线",
"商丘": "三四线",
"舟山": "三四线",
"新乡": "三四线",
"包头": "三四线",
"上饶": "三四线",
"菏泽": "三四线",
"乌鲁木齐": "一二线",
"驻马店": "三四线",
"海口": "三四线",
"淮安": "三四线",
"信阳": "三四线",
"襄阳": "三四线",
"南充": "三四线",
"连云港": "三四线",
"岳阳": "三四线",
"衢州": "三四线",
"桂林": "三四线",
"周口": "三四线",
"安阳": "三四线",
"九江": "三四线",
"绵阳": "三四线",
"德州": "三四线",
"柳州": "三四线",
"莆田": "三四线",
"聊城": "三四线",
"马鞍山": "三四线",
"大庆": "三四线",
"汕头": "三四线",
"宜春": "三四线",
"常德": "三四线",
"宿迁": "三四线",
"咸阳": "三四线",
"黄冈": "三四线",
"丽水": "三四线",
"玉林": "三四线",
"郴州": "三四线",
"湛江": "三四线",
"泸州": "三四线",
"许昌": "三四线",
"清远": "三四线",
"蚌埠": "三四线",
"安庆": "三四线",
"茂名": "三四线",
"荆州": "三四线",
"秦皇岛": "三四线",
"宿州": "三四线",
"六安": "三四线",
"鄂尔多斯": "三四线",
"宝鸡": "三四线",
"肇庆": "三四线",
"滁州": "三四线",
"达州": "三四线",
"宜宾": "三四线",
"龙岩": "三四线",
"枣庄": "三四线",
"邵阳": "三四线",
"榆林": "三四线",
"银川": "一二线",
"鞍山": "三四线",
"衡水": "三四线",
"渭南": "三四线",
"邢台": "三四线",
"抚州": "三四线",
"德阳": "三四线",
"吉安": "三四线",
"宣城": "三四线",
"滨州": "三四线",
"眉山": "三四线",
"日照": "三四线",
"亳州": "三四线",
"承德": "三四线",
"湘潭": "三四线",
"三明": "三四线",
"平顶山": "三四线",
"乐山": "三四线",
"濮阳": "三四线",
"宁德": "三四线",
"内江": "三四线",
"锦州": "三四线",
"广安": "三四线",
"揭阳": "三四线",
"资阳": "三四线",
"营口": "三四线",
"遂宁": "三四线",
"长治": "三四线",
"焦作": "三四线",
"梅州": "三四线",
"盘锦": "三四线",
"张家口": "三四线",
"益阳": "三四线",
"西宁": "一二线",
"怀化": "三四线",
"临汾": "三四线",
"运城": "三四线",
"淮南": "三四线",
"自贡": "三四线",
"南平": "三四线",
"韶关": "三四线",
"十堰": "三四线",
"孝感": "三四线",
"铜陵": "三四线",
"永州": "三四线",
"大同": "三四线",
"黄石": "三四线",
"晋城": "三四线",
"钦州": "三四线",
"攀枝花": "三四线",
"牡丹江": "三四线",
"景德镇": "三四线",
"开封": "三四线",
"绥化": "三四线",
"延安": "三四线",
"百色": "三四线",
"汉中": "三四线",
"丹东": "三四线",
"阳江": "三四线",
"娄底": "三四线",
"黄山": "三四线",
"新余": "三四线",
"萍乡": "三四线",
"本溪": "三四线",
"咸宁": "三四线",
"抚顺": "三四线",
"巴中": "三四线",
"荆门": "三四线",
"河源": "三四线",
"淮北": "三四线",
"广元": "三四线",
"漯河": "三四线",
"吕梁": "三四线",
"葫芦岛": "三四线",
"六盘水": "三四线",
"防城港": "三四线",
"安康": "三四线",
"辽阳": "三四线",
"来宾": "三四线",
"朝阳": "三四线",
"鹰潭": "三四线",
"三门峡": "三四线",
"晋中": "三四线",
"酒泉": "三四线",
"汕尾": "三四线",
"鹤壁": "三四线",
"齐齐哈尔": "三四线",
"贺州": "三四线",
"随州": "三四线",
"鄂州": "三四线",
"雅安": "三四线",
"潮州": "三四线",
"嘉峪关": "三四线",
"商洛": "三四线",
"云浮": "三四线",
"庆阳": "三四线",
"莱芜": "三四线",
"阳泉": "三四线",
"铁岭": "三四线",
"佳木斯": "三四线",
"平凉": "三四线",
"白银": "三四线",
"阜新": "三四线",
"河池": "三四线",
"武威": "三四线",
"池州": "三四线",
"黑河": "三四线",
"张家界": "三四线",
"朔州": "三四线",
"鸡西": "三四线",
"铜川": "三四线",
"张掖": "三四线",
"乌兰察布": "三四线",
"伊春": "三四线",
"双鸭山": "三四线",
"梧州": "三四线",
"鹤岗": "三四线"}

In [5]:
# 底稿城市
city_digao = ["北京","上海","广州","深圳","南京","苏州","厦门","合肥","天津","武汉","杭州","福州","济南",
              "南昌","无锡","宁波","成都","郑州","南宁","长沙","西安","重庆","青岛","沈阳","大连","常州",
              "徐州","南通","嘉兴","绍兴","温州","镇江","扬州","泉州","漳州","佛山","东莞","中山","惠州",
              "珠海","安庆","株洲","阜阳","蚌埠","常德","湘潭","芜湖","岳阳","荆门","荆州","襄阳","宜昌",
              "抚州","赣州","吉安","九江","洛阳","信阳","新乡","南阳","淄博","临沂","兰州","昆明","宝鸡",
              "德阳","贵阳","哈尔滨","衡阳","呼和浩特","湖州","淮安","济宁","江门","金华","廊坊","丽水",
              "连云港","龙岩","泸州","马鞍山","南平","内江","宁德","莆田","衢州","三明","汕头","石家庄",
              "台州","太原","泰州","潍坊","乌鲁木齐","烟台","盐城","银川","湛江","长春","肇庆","茂名"]
city_digao = pd.DataFrame(city_digao, columns=['城市'])

In [6]:
# 读取数据

deal = pd.read_excel('../数据整理/中指2019年数据.xlsx', sheet_name='土地成交明细')
# deal = deal[deal['周'] != currentWeek+1]
liupai = pd.read_excel('../数据整理/中指2019年数据.xlsx', sheet_name='土地流拍')
# liupai = liupai[liupai['周'] != currentWeek+1]

deal.replace('--', 0, inplace=True)
liupai.replace('--', 0, inplace=True)

deal.loc[deal[deal['起始价(万元)']==0].index, '起始价(万元)'] = deal[deal['起始价(万元)']==0]['成交价(万元)']
deal.loc[deal[deal['成交价(万元)']==0].index, '成交价(万元)'] = deal[deal['成交价(万元)']==0]['起始价(万元)']

In [7]:
# 处理流拍数据
liupai['成交价(万元)'] = 0
liupai['成交楼面价(元/㎡)'] = 0
liupai['溢价率'] = '流拍'
liupai['受让单位'] = ''
liupai['土地星级'] = '0星'
liupai['溢价率分类'] = '流拍'


# 处理成交数据
deal['溢价率分类'] = deal['溢价率'].map(lambda x: '底价' if x<=10 else '高溢价' if x>=50 else '溢价' )

deal_liupai = pd.concat((deal, liupai), ignore_index=True, sort=False)
deal_liupai['日'] = deal_liupai['截止日期'].map(lambda x: str(x.split("-")[2]).lstrip('0'))
deal_liupai['城市能级'] = deal_liupai['城市'].map(lambda x: city_map[x])
deal_liupai = deal_liupai[deal_liupai['年']==2020]

### 101成每月结构

In [8]:
b = deal_liupai.pivot_table(values='地块名称', columns='溢价率分类', aggfunc='count',index='月')
b['流拍'] = 0
# b.dropna(axis=0,inplace=True)
b.fillna(0, inplace=True)
b = b[['底价', '流拍', '溢价', '高溢价']]
b

溢价率分类  底价  流拍  溢价  高溢价
月
1      13   0  10    1

In [9]:
b.eval(' 总计 = 底价+溢价+高溢价', inplace=True)
b.eval(' 总计流拍 = 底价+溢价+流拍+高溢价', inplace=True)

b['底价'] = (b['底价'] / b['总计']).apply(lambda x: format(x, '.4f')) 
b['流拍'] = (b['流拍'] / b['总计流拍']).apply(lambda x: format(x, '.4f')) 
b['溢价'] = (b['溢价'] / b['总计']).apply(lambda x: format(x, '.4f')) 
b['高溢价'] = (b['高溢价'] / b['总计']).apply(lambda x: format(x, '.4f')) 

yijia101 = b.copy()
yijia101.rename(index={i:'{}月'.format(i) for i in yijia101.index}, inplace=True)

yijia101

溢价率分类      底价      流拍      溢价     高溢价  总计  总计流拍
月
1月     0.5417  0.0000  0.4167  0.0417  24    24

## 房企

In [10]:
enterprise = pd.read_excel('../数据整理/中指2019年数据.xlsx', sheet_name='房企拿地')
enterprise = enterprise[enterprise['周'] != currentWeek+1]
enterprise = enterprise[enterprise['年'] != 2019]
enterprise.fillna(0, inplace=True)
enterprise = enterprise[['房企', '地块名称', '城市', '规划用途', '占地面积(万㎡)',
           '规划建筑面积(万㎡)', '总成交金额(亿元)', '平均楼面价(元/㎡)',
           '平均溢价率(%)', '土地权益(%)','权益金额(亿元)', '权益规划建筑面积(万㎡)', 
            '拿地时间', '城市能级', '年', '月', '周', '房企排名']]
enterprise['城市能级'] = enterprise['城市'].map(lambda x: city_map.get(x, '三四线'))


enterprise['日'] = enterprise['拿地时间'].map(lambda x: x.split("-")[2].lstrip('0'))
enterprise['溢价率结构'] = enterprise['平均溢价率(%)'].map(lambda x: '溢价率<10%' if x<=10 else '溢价率>50%' if x>=50 else '溢价率10-50%'  )
# enterprise.head(1)

### 整合成底稿

```
1.房企溢价率为平均溢价率（计算为平均值项）					
2.底价成交率=溢价率<10%地块数量/总计数量					
3.高溢价成交率=溢价率大于50%地块数量/总计数量					
```

### 图2 TOP30周更

In [11]:
top30 = enterprise[enterprise['房企排名'] == 'TOP30']
top30 = top30.fillna(0)

In [12]:
# 数据透视表
top30_piove_week = top30.pivot_table(values='地块名称', columns='溢价率结构', aggfunc='count',index='周', fill_value=0)

# top30_piove['总计'] = top30_piove['溢价率10-50%'] + top30_piove['溢价率<10%'] + top30_piove['溢价率>50%']
# top30_piove['溢价率10-50%'] = (top30_piove['溢价率10-50%'] / top30_piove['总计']).apply(lambda x: format(x, '.1%')) 
# top30_piove['溢价率<10%'] = (top30_piove['溢价率<10%'] / top30_piove['总计']).apply(lambda x: format(x, '.1%')) 
# top30_piove['溢价率>50%'] = (top30_piove['溢价率>50%'] / top30_piove['总计']).apply(lambda x: format(x, '.1%')) 
# top30_piove = top30_piove[['溢价率10-50%', '溢价率<10%', '溢价率>50%']]

top30_piove_week.head()

溢价率结构  溢价率10-50%  溢价率<10%
周
1              3        4

#### 图4 TOP30 月更

In [13]:
# 数据透视表
top30_piove_month = top30.pivot_table(values='地块名称', columns='溢价率结构', aggfunc='count',index='月', fill_value=0)

top30_piove_month.rename(index={i:'{}月'.format(i) for i in top30_piove_month.index}, inplace=True)
top30_piove_month.head()

溢价率结构  溢价率10-50%  溢价率<10%
月
1月             3        4

#### 图3 TOP30-50 周更

In [14]:
top35 = enterprise[enterprise['房企排名'] == 'TOP30-50']
top35 = top35.fillna(0)

In [15]:
# 数据透视表
top35_piove_week = top35.pivot_table(values='地块名称', columns='溢价率结构', aggfunc='count',index='周', fill_value=0)

top35_piove_week.head()

溢价率结构  溢价率10-50%
周
1              2

#### 图5 TOP30-50 月更

In [16]:
# 数据透视表
top35_piove_month = top35.pivot_table(values='地块名称', columns='溢价率结构', aggfunc='count',index='月', fill_value=0)
top35_piove_month.rename(index={i:'{}月'.format(i) for i in top35_piove_month.index}, inplace=True)

top35_piove_month.head()

溢价率结构  溢价率10-50%
月
1月             2

In [49]:
yijia101 = yijia101.astype(float)
yijia101.to_excel("PPT2_2020_101城溢价结构.xlsx")
yijia101

溢价率分类      底价   流拍      溢价     高溢价    总计  总计流拍
月
1月     0.5417  0.0  0.4167  0.0417  24.0  24.0

### 第三张幻灯片

In [18]:
# 按照月
deal_liupai_yue = deal_liupai.pivot_table(index='月', columns='溢价率分类', aggfunc='count', values='地块名称', fill_value=0)
display(deal_liupai_yue.tail(2))

# 按照周
deal_liupai_week = deal_liupai.pivot_table(index='周', columns='溢价率分类', aggfunc='count', values='地块名称', fill_value=0)
display(deal_liupai_week.tail(2))

溢价率分类  底价  溢价  高溢价
月
1      13  10    1

溢价率分类  底价  溢价  高溢价
周
1      13  10    1

In [19]:
# 保存数据
deal_liupai_yue.to_excel('PPT3_2020_101城成交月更.xlsx')
deal_liupai_week.to_excel('PPT3_2020_101城成交周更.xlsx')

#### TOP30 周更

In [20]:
top30_piove_week.to_excel("PPT4_2020_TOP30_周更.xlsx")
top30_piove_week.head(1)

溢价率结构  溢价率10-50%  溢价率<10%
周
1              3        4

#### TOP30   月更

In [ ]:
# top30_piove_month.tail(7)

In [21]:
top30_piove_month
top30_piove_month.to_excel("PPT4_2020_TOP30_月更.xlsx")

#### TOP30-50   周更

In [22]:
top35_piove_week.to_excel("PPT5_2020_TOP50_周更.xlsx")
top35_piove_week.head(1)

溢价率结构  溢价率10-50%
周
1              2

#### TOP30-50   月更

In [23]:
top35_piove_month.to_excel("PPT5_2020_TOP50_月更.xlsx")
top35_piove_month.head(1)

溢价率结构  溢价率10-50%
月
1月             2