In [1]:
import io
import json
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def write_to_table(df, schema, table_name, if_exists='append'):
    import io
    import pandas as pd
    from sqlalchemy import create_engine
    db_engine = create_engine('postgresql://postgres:1q2w3e4r@127.0.0.1/ChengJiao')  # 初始化引擎
    # db_engine = create_engine('postgresql://postgres:123456@127.0.0.1/House')# 初始化引擎
    #     db_engine = create_engine('postgresql://***:***@***:***/***')# 初始化引擎
    string_data_io = io.StringIO()
    df.to_csv(string_data_io, sep='|', index=False)
    pd_sql_engine = pd.io.sql.pandasSQL_builder(db_engine)
    table = pd.io.sql.SQLTable(table_name, pd_sql_engine, frame=df,
                               index=False, if_exists=if_exists, schema=schema)  # 模式名
    table.create()
    string_data_io.seek(0)
    string_data_io.readline()  # remove header
    with db_engine.connect() as connection:
        with connection.connection.cursor() as cursor:
            copy_cmd = '''COPY "%s"."%s"("城市", "区县", "标题", "标题url", "朝向", "装修", "交易时间", "总价", "单价", "楼层", "建筑类型", "招拍挂", "其他信息", "id", "建筑年份") FROM STDIN HEADER DELIMITER '|' CSV''' % (
            schema, table_name)
            # print(copy_cmd)  # COPY "Esf_coord"."coord" FROM STDIN HEADER DELIMITER '|' CSV
            cursor.copy_expert(copy_cmd, string_data_io)
        connection.connection.commit()

In [3]:
conn = psycopg2.connect(database='ESF',user='postgres',password='1q2w3e4r',host='192.168.88.254',port=15432)

In [7]:
sql = f"""SELECT * from chengjiao;"""
df = pd.read_sql_query(sql, con=conn)
df = pd.DataFrame(data=data)
df['交易时间'] = df['交易时间'].map(check_data)
df = df[["城市", "区县", "标题", "标题url", "朝向", "装修", "交易时间", "总价", "单价", "楼层", "建筑类型",
         "招拍挂", "其他信息", "id", "建筑年份"]]
write_to_table(df, 'public', "chengjiao")

DatabaseError: Execution failed on sql 'SELECT * from chengjiao;': relation "chengjiao" does not exist
LINE 1: SELECT * from chengjiao;
                      ^